{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Spécialiste en médecine physique et de réadaptation</title>
	
    <!-- css -->
    
    <link href="{% static 'pages/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'pages/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="{% static 'plugins/cubeportfolio/css/cubeportfolio.min.css' %}">
	<link href="{% static 'pagescss/nivo-lightbox.css' %}" rel="stylesheet" />
	<link href="{% static 'pages/css/nivo-lightbox-theme/default/default.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'pages/css/owl.carousel.css' %}" rel="stylesheet" media="screen" />
   
	<link href="{% static 'pages/css/owl.theme.css' %}" rel="stylesheet" media="screen" />
    <link href="{% static 'pages/css/animate.css' %}" rel="stylesheet" />
    <link href="{% static 'pages/css/style.css' %} " rel="stylesheet">

	<!-- boxed bg -->
	<link id="bodybg" href="bodybg/bg1.css" rel="stylesheet" type="text/css" />
	<!-- template skin -->
	<link id="t-colors" href="{% static 'pages/color/default.css' %}" rel="stylesheet">


</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">

<div id="wrapper">
	
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="top-area">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-md-6">
					<!-- <p class="bold text-left">Lundi - Vendredi </p> -->
					</div>
					<div class="col-sm-6 col-md-6">
					<p class="bold text-right">Appelez-nous maintenant +33 07 45 76 57 71</p>
					</div>
				</div>
			</div>
		</div>
        <div class="container navigation">
		
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index.html">
                    <!-- <img src="{% static 'pages/img/logo.png' %}" alt="" width="150" height="40" /> -->
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
			  <ul class="nav navbar-nav">
				<li class="active"><a href="#intro">Acceuil</a></li>
				<li><a href="#service">Présentation</a></li>
				<li><a href="#doctor">Horaires</a></li>
				<li><a href="#facilities">Contact</a></li>
				<li><a href="#pricing">Nos Tarifs</a></li>
			  </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
	

	<!-- Section: intro -->
    <section id="intro" class="intro">
		<div class="intro-content">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
					<div class="wow fadeInDown" data-wow-offset="0" data-wow-delay="0.1s">
					<h2 class="h-ultra">Dr Ghaleb Hamamah</h2>
					</div>
					<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.1s">
					<h4 class="h-light">Spécialiste en   <span class="color">médecine physique</span> et de<span class="color">réadaptation</span> </h4>
					</div>
						<div class="well well-trans">
						<div class="wow fadeInRight" data-wow-delay="0.1s">

						<ul class="lead-list">
							<li><span class="fa fa-check fa-2x icon-success"></span> <span class="list"><strong>Expertises et actes</strong><br />Accident vasculaire cérébral (AVC)<br /> Électromyogramme (EMG) <br /> Troubles neurologiques<br /> Arthrose<br />Infiltration</span></li>
							<li><span class="fa fa-check fa-2x icon-success"></span> <span class="list"><strong>Moyens de paiement</strong><br />Chèques et espèces</span></li>
							<!-- <li><span class="fa fa-check fa-2x icon-success"></span> <span class="list"><strong>Only use friendly environment</strong><br />Wisi lobortis eos ex, per at movet delectus, qui no vocent deleniti</span></li> -->
						</ul>

						</div>
						</div>


					</div>
					<div class="col-lg-6">
						<div class="form-wrapper">
						<div class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.2s">
						
							<div class="panel panel-skin">
							<div class="panel-heading">
									<h3 class="panel-title"><span class="fa fa-pencil-square-o"></span> En résumé</h3>
									</div>
									<div class="panel-body">
									<form role="form" class="lead">
										<div class="row">
											<p class="panel-title"><span class="fa fa-user"></span>   Accepte les nouveaux patients sur Doctolib</p> </br>
											<p class="panel-title"><span class="fa fa-map-marker"></span>   Cabinet du docteur Hamamh19 Place de Montbolo, 66100 Perpignan</p>	
										</br>
										<a href="https://www.doctolib.fr/medecine-physique-et-de-readaptation/perpignan/ghaleb-hamamah#presentation"  value="Submit" class="btn btn-skin btn-block btn-lg"> Prendre rendez-vous</a>
									
									</form>
								</div>
							</div>				
						
						</div>
						</div>
					</div>					
				</div>		
			</div>
		</div>		
    </section>
	
	<!-- /Section: intro -->

	<section id="service" class="home-section nopadding paddingtop-100">

		<div class="container">

        <div class="row">
			<!-- <div class="col-sm-4 col-md-4">
				<div class="wow fadeInUp" data-wow-delay="0.2s">
				<img src="{% static 'pages/img/dummy/img-1.jpg' %}" class="img-responsive" alt="" />
				</div>
            </div> -->
		
			<div class="section-heading text-center">
			<h2 class="h-bold">Présentation</h2>
			<div class="divider-short"></div>
			<div class="col-sm-10 col-md-12">
				<p>Le docteur Hamamah Ghaleb vous accueille dans son cabinet situé au 19 place de Montbolo.
					Il réalise principalement des électroneuromyogrammes (souvent notés EMG, pour électromyogrammes), ainsi 
					que des consultations concernant l'appareil locomoteur, notamment pour la réalisation d'infiltrations.</br>
					Médecin spécialiste en Médecine Physique et de Réadaptation (MPR), son rôle est de permettre d'établir un diagnostic
					 précis, afin d'assurer la récupération des personnes ayant subi un traumatisme, mais aussi d'améliorer le quotidien 
					 des patients touchés par un handicap. Cela concerne la récupération des pathologies neurologiques, mais aussi musculaires
					  et articulaires. Le médecin MPR partage des compétences avec le neurologue, le rhumatologue et l'orthopédiste.</br>
					  Le docteur Hamamah réalise uniquement de l'électroneuromyogramme (ENMG) au sein du cabinet. 
					  L’électroneuromyogramme ou ENMG est un examen qui est complémentaire de l’examen clinique du système nerveux périphérique. 
					  L’EMG (électromyogramme) ou l’ENMG (électroneuromyogramme) est un examen qui permet d’enregistrer l'activité électrique des nerfs et des muscles.
					  Cet examen est prescrit pour rechercher une atteinte du système nerveux périphérique (racines, plexus, troncs nerveux), de la jonction neuromusculaire ou des muscles.
					  Les symptômes associés à ces atteintes peuvent être : une paralysie, une faiblesse musculaire, une perte de sensibilité, des fourmillements, des douleurs.
					  Avant l’examen : les patients ne doivent pas appliquer de d’un lait ou d’une crème hydratante sur la peau.
					  L’EMG ou ENMG est un examen qui nécessite des stimulations électriques de faibles intensités n’est pas douloureux. 
					  Il dure entre 0h30 et 1h30.
					  Les patients sous anticoagulant peuvent subir cet examen sans précaution particulière.
					  Pendant l’examen : la première phase consiste à étudier la conduction des nerfs sensitifs et moteurs. Des électrodes de recueil sont collées sur la peau au niveau des muscles ou des nerfs à évaluer. Elles servent à enregistrer les signaux électriques des fibres musculaires et nerveuses.  Une stimulation électrique est ensuite appliquée par des électrodes de stimulation sur différents sites du nerf étudié.
					  La seconde phase consiste dans l’enregistrement de l’activité électrique des muscles au repos et lors d’une contraction volontaire maximale. Une aiguille est utilisée pour enregistrer cette activité.
					  Après l’examen : aucune surveillance.
					  Au terme de la consultation, l’EMG va permettre le diagnostic de maladie des nerfs et des muscles. 
					  Notamment de syndrome canalaire (le syndrome du canal carpien étant la compression nerveuse la plus fréquente) d’atteinte radiculaire (lors d'une névralgie cervico-brachiale) ou musculaire (myasthénie, etc.).
				</p>	
				
				</div>
            </div>
		</div>
			<div class="col-sm-3 col-md-3">
				
                </div>
				</div>

            </div>
			
        </div>		
		</div>
	</section>

	<!-- Section: boxes -->
    <section id="service" class="home-section paddingtop-80">
	
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-6">
					<div class="wow fadeInUp" data-wow-delay="0.2s">
						<div class="box text-center">
							
							<i class="fa fa-university fa-3x circled bg-skin"></i>
							<h4 class="h-bold">Diplômes nationaux et universitaires</h4>
							<p>
								D.U Éléctroneuromyographie en médecine physique et de réadaptation - Université de Reims Champagne-Ardenne.</br>
								D.I.U. Médecine de rééducation - Aix-Marseille Université. </br>
								D.I.U. Analyse de la marche et du mouvement - Aix-Marseille Université.
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-6">
					<div class="wow fadeInUp" data-wow-delay="0.2s">
						<div class="box text-center">
							
							<i class="fa fa-list-alt fa-3x circled bg-skin"></i>
							<h4 class="h-bold">Expériences</h4>
							<p>
								2016 - 2022 Cabinet - Cayenne 97300, Guyane française.
							</br>
							2014 - 2015Chef de service - Clinique Saint-Martin - Marseille - Rééducation neurologique.
							</br>
							2011 - 2013 Médecin - Centre Bouffard-Vercelli - Cerbère - Rééducation fonctionnelle
							</br>
							2010 - 2010 Médecin - Centre mutualiste de Rééducation et de Réadaptation Fonctionnelles (CRRF) de Kerpape - Ploemeur - Rééducation fonctionnelle
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-6">
					<div class="wow fadeInUp" data-wow-delay="0.2s">
						<div class="box text-center">
							<i class="fa fa-users fa-3x circled bg-skin"></i>
							<h4 class="h-bold">Associations</h4>
							<p>
								Vice-président - France AVC Guyane
							</br>
							Membre - Société Française de Médecine Physique et de Réadaptation (SOFMER)
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-6">
					<div class="wow fadeInUp" data-wow-delay="0.2s">
						<div class="box text-center">
							
							<i class="fa fa-language fa-3x circled bg-skin"></i>
							<h4 class="h-bold">Langues parlées et écrits</h4>
							<p>
								Anglais, Arabe et Français
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>
	<!-- /Section: boxes -->
	
	
	<section id="callaction" class="home-section paddingtop-40">	
           <div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="callaction bg-gray">
							<div class="row">
								<div class="col-md-6">
									<div class="wow fadeInUp" data-wow-delay="0.1s">
									<div class="cta-text">
									<h3>Urgence? contactez le 15 (Samu)</h3>
									<!-- <p>En cas d'urgence, contactez le 15 (Samu) </p> -->
									</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="wow lightSpeedIn" data-wow-delay="0.1s">
										<div class="cta-btn">
										<a href="https://www.doctolib.fr/medecine-physique-et-de-readaptation/perpignan/ghaleb-hamamah#presentation" class="btn btn-skin btn-lg">Prendre rendez-vous</a>	
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
	</section>	
	

	<!-- Section: services -->
   
	<!-- /Section: services -->
	

	<!-- Section: team -->
    <section id="doctor" class="home-section paddingtop-110">
		<div class="container marginbot-50">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="wow lightSpeedIn" data-wow-delay="0.1s">
					<div class="section-heading text-center">
					<h2 class="h-bold">Honoraire</h2>
					<p>Nous Sommes ouvert de :</p>
					</div>
					</div>
					<div class="divider-short"></div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-3 col-md-3">
					<div class="wow fadeInUp" data-wow-delay="0.2s">
						<div class="box text-center">
								
							<!-- <i class="fa fa-check fa-3x circled bg-skin"></i> -->
							<!-- <i class="fa fa-check-circle fa-3x circled bg-skin" ></i> -->
							<i class="fa fa-calendar fa-3x circled bg-skin" ></i>
							<h4 class="h-bold">Lundi</h4>
							<p>
								09h00 - 15h00.</br>
								
							</p>
						</div>
					</div>
				</div>
				
				<div class="col-sm-3 col-md-3">
					<div class="wow fadeInUp" data-wow-delay="0.2s">
						<div class="box text-center">
								
							<!-- <i class="fa fa-check fa-3x circled bg-skin"></i> -->
							<!-- <i class="fa fa-check-circle fa-3x circled bg-skin" ></i> -->
							<i class="fa fa-calendar fa-3x circled bg-skin" ></i>
							<h4 class="h-bold">Mardi</h4>
							<p>
								09h00 - 14h00, 15h00 - 18h30.</br>
								
							</p>
						</div>
					</div>
				</div>

				<div class="col-sm-3 col-md-3">
					<div class="wow fadeInUp" data-wow-delay="0.2s">
						<div class="box text-center">
								
							<!-- <i class="fa fa-check fa-3x circled bg-skin"></i> -->
							<!-- <i class="fa fa-check-circle fa-3x circled bg-skin" ></i> -->
							<i class="fa fa-calendar fa-3x circled bg-skin" ></i>
							<h4 class="h-bold">Jeudi</h4>
							<p>
								09h00 - 13h00, 14h30 - 17h30.</br>
								
							</p>
						</div>
					</div>
				</div>

				<div class="col-sm-3 col-md-3">
					<div class="wow fadeInUp" data-wow-delay="0.2s">
						<div class="box text-center">
								
							<!-- <i class="fa fa-check fa-3x circled bg-skin"></i> -->
							<!-- <i class="fa fa-check-circle fa-3x circled bg-skin" ></i> -->
							<i class="fa fa-calendar fa-3x circled bg-skin" ></i>
							<h4 class="h-bold">Vendredi</h4>
							<p>
								09h00 - 13h00, 15h00 - 18h15.</br>
								
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>
	<!-- /Section: team -->

	
		
	<!-- Section: works -->
    <section id="facilities" class="home-section paddingbot-60">
		<div class="container marginbot-50">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="wow fadeInDown" data-wow-delay="0.1s">
					<div class="section-heading text-center">
					<h2 class="h-bold">Contact</h2>
					<p>Carte et informations d'accès</p>
					</div>
					</div>
					<div class="divider-short"></div>
				</div>
			</div>
		</div>

<div class="container">
			<div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6" >
					<div class="wow bounceInUp" data-wow-delay="0.2s">
                    <div id="owl-works" class="owl-carousel">
                    	 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2932.8767668943233!2d2.9019792758681273!3d42.68515267116459!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b06fced1c65913%3A0xcd7000245b6a4307!2s19%20Pl.%20de%20Montbolo%2C%2066100%20Perpignan!5e0!3m2!1sfr!2sfr!4v1682358878499!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
					</div>
                </div>
				<div class="col-sm-5 col-md-5 col-lg-5">
					<div class="" data-wow-delay="">
					<div class="">
						<h3>Cabinet du docteur Hamamh</h3> 
						<p class="panel-title"><span class="fa fa-map-marker"></span>   Cabinet du docteur Hamamh19 Place de Montbolo, 66100 Perpignan</p>
					</br><h5>Informations pratiques</h5>
							<p>Rez-de-chaussée </br>Accès handicapé </br>Parking gratuit</p>
						
					</div>
					</div>
				</div>
				
                </div>
				
            </div>
		</div>
	</section>
	<!-- /Section: works -->
	
	
	<!-- Section: testimonial -->
    <section id="testimonial" class="home-section paddingbot-60 parallax" data-stellar-background-ratio="0.5">

<div class="carousel-reviews broun-block">
   
</div>
	</section>
	<!-- /Section: testimonial -->
	

	<!-- Section: pricing -->	
	<section id="pricing" class="home-section bg-gray paddingbot-60">	
		<div class="container marginbot-50">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="wow lightSpeedIn" data-wow-delay="0.1s">
					<div class="section-heading text-center">
					<h2 class="h-bold">Nos Tarifs</h2>
					<!-- <p>Take charge of your health today with our specially designed health packages</p> -->
					</div>
					</div>
					<div class="divider-short"></div>
				</div>
			</div>
		</div>
           
		   <div class="container">
			
			<div class="row">

				<div class="col-sm-6 pricing-box">
					<div class="wow bounceInUp" data-wow-delay="0.1s">
					<div class="pricing-content general">
						<h2>Consultation</h2>
						<h3>23 € à 55 € </h3>
						<ul>
							<li><i class="fa fa-check icon-success"></i>Informations sup </li>
							<li><i class="fa fa-check icon-success"></i>Informations sup </li>
							
						</ul>

						<div class="price-bottom">
							<a href="https://www.doctolib.fr/medecine-physique-et-de-readaptation/perpignan/ghaleb-hamamah#presentation" class="btn btn-skin btn-lg">Prendre rendez-vous</a>
						</div>
					</div>
					</div>
				</div>

				<div class="col-sm-6 pricing-box">
					<div class="wow bounceInUp" data-wow-delay="0.2s">
					<div class="pricing-content general last">
						<h2>Électro-neuromyographie (ENMG) (tarif Sécurité sociale)</h2>
						<h3>122 € à 222 €<sup>.05</sup></h3>
						<ul>
							<li>Informations sup <i class="fa fa-check icon-success"></i></li>
							<li>Informations sup <i class="fa fa-check icon-success"></i></li>
							
						</ul>

						<div class="price-bottom">
							<a href="https://www.doctolib.fr/medecine-physique-et-de-readaptation/perpignan/ghaleb-hamamah#presentation" class="btn btn-skin btn-lg">Prendre rendez-vous</a>
						</div>
					</div>
					</div>
				</div>
				
			</div>	
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="wow lightSpeedIn" data-wow-delay="0.1s">
					<div class="section-heading text-center">
					<h2 class="h-bold"></h2>
					</br>
					<p><strong>Ces honoraires vous sont communiqués à titre indicatif par le praticien. Ils peuvent varier selon le type de soins finalement réalisés en cabinet, le nombre de consultations et les actes additionnels nécessaires. En cas de dépassement des tarifs, le praticien doit en avertir préalablement le patient.</strong></p>

					</div>
					</div>
				</div>
			</div>			

            </div>
	</section>	 
	<!-- /Section: pricing -->
	
	<section id="partner" class="home-section paddingbot-30">	
		<div class="container marginbot-50">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="wow lightSpeedIn" data-wow-delay="0.1s">
					<div class="section-heading text-center">
					<h2 class="h-bold">Nos Partenaires</h2>
					<!-- <p>Take charge of your health today with our specially designed health packages</p> -->
					</div>
					</div>
					<div class="divider-short"></div>
				</div>
			</div>
		</div>
		
           <!-- <div class="container">
				<div class="row">
					<div class="col-sm-6 col-md-3">
						<div class="partner">
						<a href="#"><img src="{% static 'pages/img/dummy/partner-1.jpg' %}" alt="" /></a>
						</div>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="partner">
						<a href="#"><img src="{% static 'pages/img/dummy/partner-2.jpg' %}" alt="" /></a>
						</div>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="partner">
						<a href="#"><img src="{% static 'pages/img/dummy/partner-3.jpg' %}" alt="" /></a>
						</div>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="partner">
						<a href="#"><img src="{% static 'pages/img/dummy/partner-4.jpg' %}" alt="" /></a>
						</div>
					</div>
				</div>
            </div>
	</section>	 -->

	<footer>
	
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-4">
					<div class="wow fadeInDown" data-wow-delay="0.1s">
					<div class="widget">
						<h5>About Medicio</h5>
						<p>
						Lorem ipsum dolor sit amet, ne nam purto nihil impetus, an facilisi accommodare sea
						</p>
					</div>
					</div>
					<!-- <div class="wow fadeInDown" data-wow-delay="0.1s">
					<div class="widget">
						<h5>Information</h5>
						<ul>
							<li><a href="#">Home</a></li>
							<li><a href="#">Laboratory</a></li>
							<li><a href="#">Medical treatment</a></li>
							<li><a href="#">Terms & conditions</a></li>
						</ul>
					</div>
					</div> -->
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="wow fadeInDown" data-wow-delay="0.1s">
					<div class="widget">
						<h5>Medicio center</h5>
						<p>
						Nam leo lorem, tincidunt id risus ut, ornare tincidunt naqunc sit amet.
						</p>
						<ul>
							<li>
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-calendar-o fa-stack-1x fa-inverse"></i>
								</span> Lundi - Mardi, Jeudi - Vendredi
							</li>
							<li>
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-phone fa-stack-1x fa-inverse"></i>
								</span> +33 07 45 76 57 71
							</li>
							<li>
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
								</span> developpeur.etudiant@gmail.com
							</li>

						</ul>
					</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="wow fadeInDown" data-wow-delay="0.1s">
					<div class="widget">
						<h5>NOTRE EMPLACEMENT</h5>
						<p>Cabinet du docteur Hamamh 19 Place de Montbolo, 66100 Perpignan</p>		
						
					</div>
					</div>
					<div class="wow fadeInDown" data-wow-delay="0.1s">
					<div class="widget">
						<h5>SUIVEZ-NOUS</h5>
						<ul class="company-social">
								<li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li class="social-google"><a href="#"><i class="fa fa-google-plus"></i></a></li>
								<li class="social-vimeo"><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
								<li class="social-dribble"><a href="#"><i class="fa fa-dribbble"></i></a></li>
						</ul>
					</div>
					</div>
				</div>
			</div>	
		</div>
		<div class="sub-footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-6 col-lg-6">
					<div class="wow fadeInLeft" data-wow-delay="0.1s">
					<div class="text-left">
					<p>&copy;Copyright 2023 - Médecin. Tous les droits sont réservés.</p>
					</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-6 col-lg-6">
					<div class="wow fadeInRight" data-wow-delay="0.1s">
					<div class="text-right">
						<p><a href="http://bootstraptaste.com/"></a> by developper student</p>
					</div>
                    <!-- 
                        All links in the footer should remain intact. 
                        Licenseing information is available at: http://bootstraptaste.com/license/
                        You can buy this theme without footer links online at: http://bootstraptaste.com/buy/?theme=Medicio
                    -->
					</div>
				</div>
			</div>	
		</div>
		</div>
	</footer>

</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>

	<!-- Core JavaScript Files -->
	<!-- <script src="{% static "js/jquery-1.11.1.js" %}"></script>  -->
	<!-- <script src="{% static "js/rango-jquery.js" %}"></script> -->

    <script src="{% static 'pages/js/jquery.min.js' %}"></script>	 
    <script src="{% static 'pages/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'pages/js/jquery.easing.min.js' %}"></script>
	<script src="{% static 'pages/js/wow.min.js' %}"></script>
	<script src="{% static 'pages/js/jquery.scrollTo.js' %}"></script>
	<script src="{% static 'pages/js/jquery.appear.js' %}"></script>
	<script src="{% static 'pages/js/stellar.js' %}"></script>
	<script src="{% static 'pages/plugins/cubeportfolio/js/jquery.cubeportfolio.min.js' %}"></script>
	<script src="{% static 'pages/js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'pages/js/nivo-lightbox.min.js' %}"></script>
    <script src="{% static 'pages/js/custom.js' %}"></script>


</body>

</html>
